/* @media only screen and (max-width: 768px) { */

   .Screen3{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%;
  height: 100vh; */
  justify-content: space-evenly;
   }


    /* .ev {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;

    } */
.arrow{
    position: absolute;
    left: 20px;
    background: rgb(67, 67, 67);
    padding: 12px;
    border-radius: 2rem;
    width: 10px;
    height: 12px;
}

.titlen3{
    text-align: center;
}

.brain1{
    background-color: gray;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

.det{
    text-align: center;
}

.brain2{
    background-color: gray;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.book{
    text-align: center;
}

.back3{
    background-color: gray;
    width: 210px;
    height: 139px;
    border-radius: 10%;
}

.may{
    text-align: center;
}

.popup{
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
        position: absolute;
        top: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-repeat: repeat;
}

.popupwindow{
    position: absolute;
        max-width: 60%;
        max-height: 45%;
        border-radius: 20px;
        background: #FFC24D;
        text-align: center;
}

.arrowwindow{
    display: block;
        margin: 0.5rem 1rem;

        background: rgb(67, 67, 67);
        width: 3%;
        height: 4%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        border-radius: 50%;
}

.brain1window{
    display: block;
        margin: 0rem auto;
        width: 5rem;
        background: gray;
        border-radius: 5rem;
        top: -1rem;
        position: relative;
}

.brain2window{
    display: block;
        margin: 0rem auto;
        width: 5rem;
        background: rgb(176, 174, 174);
        border-radius: 5rem;
        top: -20px;
        position: relative;
}

.back3window{
    width: 4rem;
        height: 4rem;
        background: gray;
        display: block;
        margin: 0rem auto;
        border-radius: 50%;
        top: -1rem;
        position: relative;
}

.inputname{
    position: relative;
      
        text-align: center;
        max-width: 90%;
        height: 18%;
        border-radius: 0.4rem;
        border: none;
        font-size: 200%;
        box-sizing: border-box;
        top: -1rem;
}

.buttongo{
    display: block;
        margin: 0vh auto;
        background: #FFE9B0;
        border: none;
        border-radius: 30px;
        width: 80%;
        height: 15%;
        font-size: 200%;
        
        text-align: center;
        text-decoration: none;
        color: black;
        position: relative;
        top: -1rem;
}